In [555]:
library(class)

<html><b>Reading data.</b></html>

In [556]:
data <- read.csv(file= "June 10-July 12, 2015 - Gaming, Jobs and Broadband - CSV.csv")

<html><b>Selecting five columns.</b></html>

In [557]:
data <- data[,c("age","sex","emplnw","par","inc")]

#"date1a", "emptype1","emptype3",

In [558]:
data <- na.omit(data)

<html><b>Categorising age.</b></html>

In [559]:
data$ageCat <- cut(data$age,c(18,25,50,80))
head(data)

  age sex emplnw par inc ageCat
1 47  2   4      1   99  (25,50]
2 63  2   3      2    6  (50,80]
3 86  2   3      2    3  NA
4 40  2   1      2    6  (25,50]
5 65  2   3      2    3  (50,80]
6 69  2   2      2    8  (50,80]

In [560]:
na.omit(data)

     age sex emplnw par inc ageCat
1    47  2   4      1   99  (25,50]
2    63  2   3      2    6  (50,80]
4    40  2   1      2    6  (25,50]
5    65  2   3      2    3  (50,80]
6    69  2   2      2    8  (50,80]
7    72  1   3      2   99  (50,80]
8    70  1   3      2    7  (50,80]
9    77  1   3      2    6  (50,80]
10   73  1   3      2    3  (50,80]
12   77  2   3      1   99  (50,80]
13   52  1   1      2    8  (50,80]
14   74  2   3      2    6  (50,80]
15   43  2   1      1   98  (25,50]
16   44  2   1      2    7  (25,50]
17   68  1   3      2    4  (50,80]
19   68  2   3      2   99  (50,80]
20   58  1   1      2    7  (50,80]
21   31  2   1      1    2  (25,50]
24   57  1   1      2    6  (50,80]
25   70  1   3      2    9  (50,80]
26   36  2   4      1    7  (25,50]
27   39  2   4      1    6  (25,50]
29   76  2   3      2    6  (50,80]
30   63  2   1      2    6  (50,80]
31   66  2   3      2    5  (50,80]
32   57  2   3      2    7  (50,80]
33   19  1   2      2    2  (18,25]
34   28  1   2      2    3  (25,50]
35   49  2   4      1    8  (25,50]
36   45  2   1      1    4  (25,50]
...  ... ... ...    ... ... ...
1972 27  2   4      1    1  (25,50]
1973 66  2   3      2    5  (50,80]
1974 23  1   1      2    4  (18,25]
1975 79  1   3      2    4  (50,80]
1976 29  2   4      1    5  (25,50]
1977 65  2   2      1   99  (50,80]
1978 35  2   1      2    5  (25,50]
1979 26  1   2      2    1  (25,50]
1980 60  1   1      2    9  (50,80]
1981 51  2   6      2    1  (50,80]
1982 27  1   4      1    1  (25,50]
1983 60  2   2      2   99  (50,80]
1984 43  1   4      2    3  (25,50]
1985 19  2   2      2    6  (18,25]
1986 36  2   2      1    1  (25,50]
1987 62  1   1      2    8  (50,80]
1988 59  1   1      2    8  (50,80]
1989 34  2   4      1    6  (25,50]
1990 56  1   1      2    5  (50,80]
1991 63  1   1      2    3  (50,80]
1992 50  1   1      2    3  (25,50]
1993 47  2   1      2    5  (25,50]
1994 72  1   3      2    5  (50,80]
1995 70  2   3      2    4  (50,80]
1996 35  1   1      2    1  (25,50]
1997 39  2   4      1    9  (25,50]
1998 77  2   3      2    3  (50,80]
1999 40  2   2      1    6  (25,50]
2000 54  2   1      2    4  (50,80]
2001 31  2   4      1    5  (25,50]

<html><b>converting data to numeric.</b></html>

In [561]:
data$ageCat <- as.numeric(data$ageCat)

<html><b>Labeling the age category.</b></html>

In [562]:
if((data$ageCat > 18 ) && (data$ageCat <=25)){
    data$ageCat <- 1
}
if((data$ageCat > 25 ) && (data$ageCat <=50)){
    data$ageCat <- 2
}
if((data$ageCat > 50 ) && (data$ageCat <=80)){
    data$ageCat <- 3
}

In [563]:
data$sex <- as.numeric(data$sex)

In [564]:
data <-data[,c("age","sex","emplnw","par","inc")] 
data <- na.omit(data)

<html><b>Normalizing Data.</b></html>

In [565]:
data$age <- (data$age - min(data$age)) /(max(data$age)-min(data$age))
data$sex <- (data$sex - min(data$sex)) /(max(data$sex)-min(data$sex))
data$emplnw <- (data$emplnw - min(data$emplnw)) /(max(data$emplnw)-min(data$emplnw))
data$par <- (data$par - min(data$par)) /(max(data$par)-min(data$par))
data$inc <- (data$inc - min(data$inc)) /(max(data$inc)-min(data$inc))

In [566]:
data

     age        sex emplnw     par   inc
1    0.3580247  1   0.03061224 0.000 1.00000000
2    0.5555556  1   0.02040816 0.125 0.05102041
3    0.8395062  1   0.02040816 0.125 0.02040816
4    0.2716049  1   0.00000000 0.125 0.05102041
5    0.5802469  1   0.02040816 0.125 0.02040816
6    0.6296296  1   0.01020408 0.125 0.07142857
7    0.6666667  0   0.02040816 0.125 1.00000000
8    0.6419753  0   0.02040816 0.125 0.06122449
9    0.7283951  0   0.02040816 0.125 0.05102041
10   0.6790123  0   0.02040816 0.125 0.02040816
11   0.7777778  1   0.02040816 0.125 1.00000000
12   0.7283951  1   0.02040816 0.000 1.00000000
13   0.4197531  0   0.00000000 0.125 0.07142857
14   0.6913580  1   0.02040816 0.125 0.05102041
15   0.3086420  1   0.00000000 0.000 0.98979592
16   0.3209877  1   0.00000000 0.125 0.06122449
17   0.6172840  0   0.02040816 0.125 0.03061224
18   0.8518519  0   0.02040816 0.000 0.03061224
19   0.6172840  1   0.02040816 0.125 1.00000000
20   0.4938272  0   0.00000000 0.125 0.06122449
21   0.1604938  1   0.00000000 0.000 0.01020408
22   0.8271605  0   0.02040816 0.125 0.05102041
23   0.9259259  1   0.02040816 0.125 0.00000000
24   0.4814815  0   0.00000000 0.125 0.05102041
25   0.6419753  0   0.02040816 0.125 0.08163265
26   0.2222222  1   0.03061224 0.000 0.06122449
27   0.2592593  1   0.03061224 0.000 0.05102041
28   0.8271605  1   0.02040816 0.125 0.00000000
29   0.7160494  1   0.02040816 0.125 0.05102041
30   0.5555556  1   0.00000000 0.125 0.05102041
...  ...        ... ...        ...   ...
1972 0.11111111 1   0.03061224 0.000 0.00000000
1973 0.59259259 1   0.02040816 0.125 0.04081633
1974 0.06172840 0   0.00000000 0.125 0.03061224
1975 0.75308642 0   0.02040816 0.125 0.03061224
1976 0.13580247 1   0.03061224 0.000 0.04081633
1977 0.58024691 1   0.01020408 0.000 1.00000000
1978 0.20987654 1   0.00000000 0.125 0.04081633
1979 0.09876543 0   0.01020408 0.125 0.00000000
1980 0.51851852 0   0.00000000 0.125 0.08163265
1981 0.40740741 1   0.05102041 0.125 0.00000000
1982 0.11111111 0   0.03061224 0.000 0.00000000
1983 0.51851852 1   0.01020408 0.125 1.00000000
1984 0.30864198 0   0.03061224 0.125 0.02040816
1985 0.01234568 1   0.01020408 0.125 0.05102041
1986 0.22222222 1   0.01020408 0.000 0.00000000
1987 0.54320988 0   0.00000000 0.125 0.07142857
1988 0.50617284 0   0.00000000 0.125 0.07142857
1989 0.19753086 1   0.03061224 0.000 0.05102041
1990 0.46913580 0   0.00000000 0.125 0.04081633
1991 0.55555556 0   0.00000000 0.125 0.02040816
1992 0.39506173 0   0.00000000 0.125 0.02040816
1993 0.35802469 1   0.00000000 0.125 0.04081633
1994 0.66666667 0   0.02040816 0.125 0.04081633
1995 0.64197531 1   0.02040816 0.125 0.03061224
1996 0.20987654 0   0.00000000 0.125 0.00000000
1997 0.25925926 1   0.03061224 0.000 0.08163265
1998 0.72839506 1   0.02040816 0.125 0.02040816
1999 0.27160494 1   0.01020408 0.000 0.05102041
2000 0.44444444 1   0.00000000 0.125 0.03061224
2001 0.16049383 1   0.03061224 0.000 0.04081633

In [567]:
set.seed(76964057)

<html><b>Performing k-means for number of clusters 3.</b></html>

In [568]:
k <-kmeans(data, centers=3, algorithm=c("Hartigan-Wong")) #Create 3 clusters

In [569]:
nrow(data)

[1] 2001

In [570]:
k

K-means clustering with 3 clusters of sizes 989, 173, 839

Cluster means:
        age sex     emplnw        par        inc
1 0.3984821   0 0.01584780 0.10288170 0.17170508
2 0.5654749   1 0.02842987 0.13945087 0.99593016
3 0.4179579   1 0.01849870 0.09579857 0.03952713

Clustering vector:
   1    2    3    4    5    6    7    8    9   10   11   12   13   14   15   16
   2    3    3    3    3    3    1    1    1    1    2    2    1    3    2    3
  17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32
   1    1    2    1    3    1    3    1    1    3    3    3    3    3    3    3
  33   34   35   36   37   38   39   40   41   42   43   44   45   46   47   48
   1    1    3    3    3    1    3    1    3    3    3    3    1    1    1    2
  49   50   51   52   53   54   55   56   57   58   59   60   61   62   63   64
   1    3    3    1    3    2    3    3    1    3    3    3    3    2    1    1
  65   66   67   68   69   70   71   72   73   74   75   76   77   78   79   80
   1    3    3    1    3    3    3    3    1    1    1    3    1    2    3    3
  81   82   83   84   85   86   87   88   89   90   91   92   93   94   95   96
   2    1    3    3    1    2    1    1    1    1    3    1    3    3    2    1
  97   98   99  100  101  102  103  104  105  106  107  108  109  110  111  112
   1    3    3    1    3    2    3    1    3    1    3    1    1    2    3    3
 113  114  115  116  117  118  119  120  121  122  123  124  125  126  127  128
   3    2    3    1    1    3    1    3    1    1    3    2    2    1    3    2
 129  130  131  132  133  134  135  136  137  138  139  140  141  142  143  144
   1    1    3    1    1    3    1    1    3    2    2    3    3    3    1    2
 145  146  147  148  149  150  151  152  153  154  155  156  157  158  159  160
   1    3    3    3    1    1    3    1    2    2    1    1    3    3    1    3
 161  162  163  164  165  166  167  168  169  170  171  172  173  174  175  176
   1    1    3    3    3    2    3    3    3    3    3    3    1    3    1    2
 177  178  179  180  181  182  183  184  185  186  187  188  189  190  191  192
   1    3    1    1    3    2    3    3    1    1    1    2    2    1    3    1
 193  194  195  196  197  198  199  200  201  202  203  204  205  206  207  208
   3    1    1    3    1    3    1    3    2    1    3    1    3    3    2    1
 209  210  211  212  213  214  215  216  217  218  219  220  221  222  223  224
   3    2    1    3    1    3    3    1    3    1    1    3    1    3    1    3
 225  226  227  228  229  230  231  232  233  234  235  236  237  238  239  240
   1    1    1    1    3    3    1    3    1    1    3    3    3    1    3    1
 241  242  243  244  245  246  247  248  249  250  251  252  253  254  255  256
   3    3    3    1    1    3    3    3    2    1    3    1    3    1    3    1
 257  258  259  260  261  262  263  264  265  266  267  268  269  270  271  272
   1    1    1    3    1    1    1    3    1    3    3    3    3    2    1    3
 273  274  275  276  277  278  279  280  281  282  283  284  285  286  287  288
   1    3    1    1    1    1    2    1    1    1    3    3    3    3    2    3
 289  290  291  292  293  294  295  296  297  298  299  300  301  302  303  304
   3    3    1    3    1    1    3    3    3    1    1    3    3    3    1    1
 305  306  307  308  309  310  311  312  313  314  315  316  317  318  319  320
   1    3    3    3    2    3    1    3    3    3    1    1    3    3    3    1
 321  322  323  324  325  326  327  328  329  330  331  332  333  334  335  336
   1    1    1    1    1    2    1    1    3    3    1    3    3    1    1    2
 337  338  339  340  341  342  343  344  345  346  347  348  349  350  351  352
   1    1    3    2    1    3    1    3    3    3    3    2    3    2    1    1
 353  354  355  356  357  358  359  360  361  362  363  364  365  366  367  368
   1    3    1    1    3    3    2    1    1    3    1    3    1    1    3    2
 369  370  371  372  373  374  375  376  377  378  379  380  381  382  383  384
   1    3    1    3    1    3    3    2    3    1    3    2    3    3    3    2
 385  386  387  388  389  390  391  392  393  394  395  396  397  398  399  400
   2    3    3    1    3    1    2    1    3    3    2    2    3    2    1    3
 401  402  403  404  405  406  407  408  409  410  411  412  413  414  415  416
   1    1    2    3    1    3    3    1    1    1    3    1    1    1    3    3
 417  418  419  420  421  422  423  424  425  426  427  428  429  430  431  432
   3    1    2    2    1    1    3    1    1    3    3    1    3    2    1    3
 433  434  435  436  437  438  439  440  441  442  443  444  445  446  447  448
   1    3    3    1    3    3    3    2    1    1    3    3    2    1    3    3
 449  450  451  452  453  454  455  456  457  458  459  460  461  462  463  464
   1    1    1    3    3    1    1    3    3    1    1    1    3    3    1    3
 465  466  467  468  469  470  471  472  473  474  475  476  477  478  479  480
   3    3    1    3    2    3    3    3    1    3    3    3    1    3    3    3
 481  482  483  484  485  486  487  488  489  490  491  492  493  494  495  496
   3    3    2    1    3    1    3    1    2    3    1    3    3    1    3    1
 497  498  499  500  501  502  503  504  505  506  507  508  509  510  511  512
   3    3    3    1    3    2    1    2    3    1    1    3    2    3    3    3
 513  514  515  516  517  518  519  520  521  522  523  524  525  526  527  528
   3    3    3    2    1    2    3    2    1    1    3    2    1    2    3    3
 529  530  531  532  533  534  535  536  537  538  539  540  541  542  543  544
   3    1    3    1    3    1    3    3    3    1    3    1    2    3    1    2
 545  546  547  548  549  550  551  552  553  554  555  556  557  558  559  560
   3    3    1    3    3    1    1    1    1    3    2    2    3    1    2    2
 561  562  563  564  565  566  567  568  569  570  571  572  573  574  575  576
   3    3    3    1    3    3    1    1    1    1    1    1    1    3    3    1
 577  578  579  580  581  582  583  584  585  586  587  588  589  590  591  592
   3    2    1    3    3    1    1    2    1    2    2    1    1    3    3    3
 593  594  595  596  597  598  599  600  601  602  603  604  605  606  607  608
   3    3    3    3    3    1    1    1    3    1    3    3    3    3    3    3
 609  610  611  612  613  614  615  616  617  618  619  620  621  622  623  624
   1    1    1    3    3    1    3    2    1    1    1    1    3    1    2    1
 625  626  627  628  629  630  631  632  633  634  635  636  637  638  639  640
   3    2    3    1    3    1    3    3    3    3    2    3    3    3    3    1
 641  642  643  644  645  646  647  648  649  650  651  652  653  654  655  656
   2    3    3    1    1    3    3    3    3    1    3    1    3    2    1    3
 657  658  659  660  661  662  663  664  665  666  667  668  669  670  671  672
   3    3    3    3    3    2    3    3    1    1    1    3    1    3    1    3
 673  674  675  676  677  678  679  680  681  682  683  684  685  686  687  688
   1    3    3    3    3    1    1    1    1    1    2    1    1    3    3    3
 689  690  691  692  693  694  695  696  697  698  699  700  701  702  703  704
   1    1    1    3    3    3    1    2    1    3    3    1    3    1    1    1
 705  706  707  708  709  710  711  712  713  714  715  716  717  718  719  720
   1    3    3    3    1    3    1    3    1    3    1    1    1    1    3    1
 721  722  723  724  725  726  727  728  729  730  731  732  733  734  735  736
   1    1    1    1    1    1    1    1    1    3    1    1    1    1    1    3
 737  738  739  740  741  742  743  744  745  746  747  748  749  750  751  752
   1    1    1    3    3    3    2    1    1    1    1    1    3    3    1    1
 753  754  755  756  757  758  759  760  761  762  763  764  765  766  767  768
   1    1    2    1    3    1    2    3    3    1    3    3    3    3    3    3
 769  770  771  772  773  774  775  776  777  778  779  780  781  782  783  784
   1    1    1    3    1    3    3    1    1    1    1    3    3    3    1    1
 785  786  787  788  789  790  791  792  793  794  795  796  797  798  799  800
   2    1    1    1    3    1    1    1    1    1    1    1    3    1    1    3
 801  802  803  804  805  806  807  808  809  810  811  812  813  814  815  816
   1    1    3    1    3    3    2    1    1    1    1    3    1    1    1    3
 817  818  819  820  821  822  823  824  825  826  827  828  829  830  831  832
   3    3    1    3    1    1    3    2    1    3    1    2    1    1    1    3
 833  834  835  836  837  838  839  840  841  842  843  844  845  846  847  848
   3    1    3    3    1    1    3    3    3    1    1    1    1    1    3    1
 849  850  851  852  853  854  855  856  857  858  859  860  861  862  863  864
   2    1    1    2    1    3    1    1    3    1    1    1    1    1    3    3
 865  866  867  868  869  870  871  872  873  874  875  876  877  878  879  880
   3    1    3    1    1    1    3    1    1    1    3    1    1    1    3    3
 881  882  883  884  885  886  887  888  889  890  891  892  893  894  895  896
   3    2    1    3    1    1    1    3    1    1    3    3    2    1    1    3
 897  898  899  900  901  902  903  904  905  906  907  908  909  910  911  912
   3    1    1    1    3    1    1    1    1    3    3    1    3    1    1    3
 913  914  915  916  917  918  919  920  921  922  923  924  925  926  927  928
   1    1    1    1    3    3    3    2    3    1    3    3    3    3    1    1
 929  930  931  932  933  934  935  936  937  938  939  940  941  942  943  944
   1    1    3    1    1    3    1    1    3    1    3    2    1    1    2    1
 945  946  947  948  949  950  951  952  953  954  955  956  957  958  959  960
   2    1    1    1    3    1    3    3    3    3    1    1    1    1    1    3
 961  962  963  964  965  966  967  968  969  970  971  972  973  974  975  976
   3    1    3    3    1    3    1    1    1    3    3    2    3    1    1    1
 977  978  979  980  981  982  983  984  985  986  987  988  989  990  991  992
   1    3    1    3    3    1    1    1    1    2    1    1    1    1    3    3
 993  994  995  996  997  998  999 1000 1001 1002 1003 1004 1005 1006 1007 1008
   1    1    1    3    2    2    1    1    2    1    3    3    1    1    3    3
1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 1022 1023 1024
   3    1    1    3    1    1    3    1    3    1    1    1    1    1    1    3
1025 1026 1027 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040
   3    3    3    1    1    1    3    3    1    3    3    1    1    3    1    3
1041 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055 1056
   3    1    2    3    3    1    1    1    3    1    1    1    1    1    2    1
1057 1058 1059 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069 1070 1071 1072
   3    3    3    3    1    3    3    1    1    1    1    1    1    1    3    1
1073 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087 1088
   3    3    3    1    1    1    3    1    3    3    1    3    3    1    1    3
1089 1090 1091 1092 1093 1094 1095 1096 1097 1098 1099 1100 1101 1102 1103 1104
   1    1    3    3    1    1    3    3    3    1    3    1    1    1    1    1
1105 1106 1107 1108 1109 1110 1111 1112 1113 1114 1115 1116 1117 1118 1119 1120
   1    3    1    1    3    1    1    1    1    3    1    1    3    1    3    2
1121 1122 1123 1124 1125 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 1136
   1    3    3    3    1    1    1    3    1    2    1    1    3    1    2    3
1137 1138 1139 1140 1141 1142 1143 1144 1145 1146 1147 1148 1149 1150 1151 1152
   1    1    3    3    3    3    3    2    3    3    2    1    3    1    1    1
1153 1154 1155 1156 1157 1158 1159 1160 1161 1162 1163 1164 1165 1166 1167 1168
   3    3    3    1    1    1    3    1    1    1    1    3    3    1    3    3
1169 1170 1171 1172 1173 1174 1175 1176 1177 1178 1179 1180 1181 1182 1183 1184
   1    3    1    1    3    1    1    1    1    1    1    3    3    1    2    1
1185 1186 1187 1188 1189 1190 1191 1192 1193 1194 1195 1196 1197 1198 1199 1200
   1    1    1    3    1    1    2    3    3    3    1    3    1    1    1    1
1201 1202 1203 1204 1205 1206 1207 1208 1209 1210 1211 1212 1213 1214 1215 1216
   1    1    1    3    3    2    3    3    3    3    1    3    3    3    1    3
1217 1218 1219 1220 1221 1222 1223 1224 1225 1226 1227 1228 1229 1230 1231 1232
   1    1    1    1    1    1    1    1    3    1    3    3    1    2    1    1
1233 1234 1235 1236 1237 1238 1239 1240 1241 1242 1243 1244 1245 1246 1247 1248
   3    1    1    1    1    3    3    3    1    1    2    1    1    3    1    1
1249 1250 1251 1252 1253 1254 1255 1256 1257 1258 1259 1260 1261 1262 1263 1264
   1    1    1    1    3    1    3    2    1    2    3    2    3    1    3    1
1265 1266 1267 1268 1269 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279 1280
   1    1    1    1    3    1    3    1    1    3    3    1    1    1    1    1
1281 1282 1283 1284 1285 1286 1287 1288 1289 1290 1291 1292 1293 1294 1295 1296
   3    3    1    3    1    1    3    3    1    1    1    1    1    3    1    1
1297 1298 1299 1300 1301 1302 1303 1304 1305 1306 1307 1308 1309 1310 1311 1312
   2    1    1    1    1    1    1    2    1    1    3    1    3    3    1    1
1313 1314 1315 1316 1317 1318 1319 1320 1321 1322 1323 1324 1325 1326 1327 1328
   3    3    2    3    3    3    2    1    1    1    3    1    3    1    3    1
1329 1330 1331 1332 1333 1334 1335 1336 1337 1338 1339 1340 1341 1342 1343 1344
   1    3    3    3    3    3    3    3    2    1    3    3    3    1    3    1
1345 1346 1347 1348 1349 1350 1351 1352 1353 1354 1355 1356 1357 1358 1359 1360
   1    1    3    1    3    1    3    1    3    1    1    3    3    1    3    1
1361 1362 1363 1364 1365 1366 1367 1368 1369 1370 1371 1372 1373 1374 1375 1376
   3    1    3    3    3    1    1    1    3    2    1    1    1    1    1    1
1377 1378 1379 1380 1381 1382 1383 1384 1385 1386 1387 1388 1389 1390 1391 1392
   3    3    1    1    1    1    1    1    2    3    1    1    2    3    1    1
1393 1394 1395 1396 1397 1398 1399 1400 1401 1402 1403 1404 1405 1406 1407 1408
   3    1    1    1    1    3    1    1    1    3    3    1    1    3    1    1
1409 1410 1411 1412 1413 1414 1415 1416 1417 1418 1419 1420 1421 1422 1423 1424
   3    3    3    1    3    3    1    1    1    1    2    1    1    1    3    1
1425 1426 1427 1428 1429 1430 1431 1432 1433 1434 1435 1436 1437 1438 1439 1440
   3    1    1    3    1    3    1    1    3    1    3    1    3    1    1    3
1441 1442 1443 1444 1445 1446 1447 1448 1449 1450 1451 1452 1453 1454 1455 1456
   3    3    1    1    3    3    1    3    3    3    3    1    3    3    3    1
1457 1458 1459 1460 1461 1462 1463 1464 1465 1466 1467 1468 1469 1470 1471 1472
   3    3    1    2    1    1    3    1    1    3    3    3    3    3    3    2
1473 1474 1475 1476 1477 1478 1479 1480 1481 1482 1483 1484 1485 1486 1487 1488
   1    3    3    1    1    3    3    3    1    1    3    1    1    2    3    2
1489 1490 1491 1492 1493 1494 1495 1496 1497 1498 1499 1500 1501 1502 1503 1504
   1    3    1    1    1    1    3    3    3    3    1    1    1    3    3    3
1505 1506 1507 1508 1509 1510 1511 1512 1513 1514 1515 1516 1517 1518 1519 1520
   2    2    3    1    1    1    1    3    1    3    1    2    3    1    2    1
1521 1522 1523 1524 1525 1526 1527 1528 1529 1530 1531 1532 1533 1534 1535 1536
   1    1    3    1    1    1    1    1    1    3    1    1    1    3    1    1
1537 1538 1539 1540 1541 1542 1543 1544 1545 1546 1547 1548 1549 1550 1551 1552
   3    1    3    3    3    1    2    1    1    3    1    1    1    1    1    3
1553 1554 1555 1556 1557 1558 1559 1560 1561 1562 1563 1564 1565 1566 1567 1568
   1    1    3    1    2    1    1    1    1    3    3    3    3    3    1    1
1569 1570 1571 1572 1573 1574 1575 1576 1577 1578 1579 1580 1581 1582 1583 1584
   1    1    3    3    1    1    2    1    3    3    1    3    1    3    2    3
1585 1586 1587 1588 1589 1590 1591 1592 1593 1594 1595 1596 1597 1598 1599 1600
   3    3    1    1    1    1    3    1    3    1    1    3    3    1    3    3
1601 1602 1603 1604 1605 1606 1607 1608 1609 1610 1611 1612 1613 1614 1615 1616
   1    3    1    1    2    2    3    2    3    1    3    3    1    3    1    3
1617 1618 1619 1620 1621 1622 1623 1624 1625 1626 1627 1628 1629 1630 1631 1632
   2    1    1    1    1    3    1    1    3    1    3    1    3    3    3    1
1633 1634 1635 1636 1637 1638 1639 1640 1641 1642 1643 1644 1645 1646 1647 1648
   1    1    1    3    1    1    3    3    1    3    1    1    1    3    3    1
1649 1650 1651 1652 1653 1654 1655 1656 1657 1658 1659 1660 1661 1662 1663 1664
   3    3    2    1    3    1    1    3    3    1    1    1    1    3    3    1
1665 1666 1667 1668 1669 1670 1671 1672 1673 1674 1675 1676 1677 1678 1679 1680
   1    3    3    2    1    1    1    3    3    1    1    1    1    2    1    1
1681 1682 1683 1684 1685 1686 1687 1688 1689 1690 1691 1692 1693 1694 1695 1696
   1    3    3    1    3    1    2    3    1    1    1    1    1    1    3    1
1697 1698 1699 1700 1701 1702 1703 1704 1705 1706 1707 1708 1709 1710 1711 1712
   1    3    1    1    1    1    1    1    3    1    1    3    3    3    1    1
1713 1714 1715 1716 1717 1718 1719 1720 1721 1722 1723 1724 1725 1726 1727 1728
   1    1    3    3    1    1    1    3    3    2    3    1    3    3    1    1
1729 1730 1731 1732 1733 1734 1735 1736 1737 1738 1739 1740 1741 1742 1743 1744
   1    3    2    1    1    1    3    3    3    1    3    1    3    1    1    3
1745 1746 1747 1748 1749 1750 1751 1752 1753 1754 1755 1756 1757 1758 1759 1760
   3    2    1    1    1    1    2    1    1    1    3    3    2    3    1    3
1761 1762 1763 1764 1765 1766 1767 1768 1769 1770 1771 1772 1773 1774 1775 1776
   1    1    1    1    1    1    2    3    2    3    3    1    1    1    3    1
1777 1778 1779 1780 1781 1782 1783 1784 1785 1786 1787 1788 1789 1790 1791 1792
   2    1    3    3    3    1    3    3    1    1    3    1    2    3    3    2
1793 1794 1795 1796 1797 1798 1799 1800 1801 1802 1803 1804 1805 1806 1807 1808
   1    3    1    1    3    1    1    3    3    1    1    1    3    1    1    3
1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1819 1820 1821 1822 1823 1824
   1    3    1    3    3    1    1    3    1    1    1    1    3    1    1    1
1825 1826 1827 1828 1829 1830 1831 1832 1833 1834 1835 1836 1837 1838 1839 1840
   1    1    2    3    2    1    3    1    1    3    1    3    1    3    1    3
1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856
   1    1    3    3    3    1    3    3    1    2    3    3    1    3    1    1
1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872
   3    3    2    3    1    3    1    1    1    1    3    1    1    1    2    1
1873 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888
   1    1    1    2    3    1    1    3    1    1    3    1    1    1    3    1
1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903 1904
   3    1    3    3    3    3    3    3    1    3    3    1    2    2    3    1
1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920
   3    3    2    1    3    1    1    3    3    1    1    1    1    3    1    1
1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936
   1    3    1    3    1    1    3    3    3    3    3    1    1    3    3    1
1937 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952
   1    1    1    3    1    3    3    1    3    3    3    1    2    3    1    3
1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968
   3    3    1    1    1    3    3    1    1    3    3    1    3    1    1    3

In [571]:
k$centers

  age       sex emplnw     par        inc
1 0.3984821 0   0.01584780 0.10288170 0.17170508
2 0.5654749 1   0.02842987 0.13945087 0.99593016
3 0.4179579 1   0.01849870 0.09579857 0.03952713

In [572]:
table(k$cluster)

  1   2   3
989 173 839

In [573]:
rng<-2:20 #K from 2 to 20
tries<-100 #Run the K Means algorithm 100 times
avg.totw.ss<-integer(length(rng)) #Set up an empty vector to hold all of points

<html><b>Taking the two clustering values.</b></html>

In [574]:
v <- c(3,5)

<html><b>Trying other values for K</b></html>

In [575]:
for(j in 1:2){ # For each value of the range variable
v.totw.ss<-integer(tries) #Set up an empty vector to hold the 100 tries
for(i in 1:tries){
k.temp<-kmeans(data,centers=v[j]) #Run kmeans
v.totw.ss[i]<-k.temp$tot.withinss#Store the total withinss
}
avg.totw.ss[v-1]<-mean(v.totw.ss) #Average the 100 total withinss
}

<html><b>Performing k-means for number of clusters 5.</b></html>

In [576]:
k <-kmeans(data, centers=5,algorithm=c("Hartigan-Wong"))
table(k$cluster)
k$centers

  1   2   3   4   5
173 839 466 391 132

  age       sex emplnw     par        inc
1 0.5654749 1   0.02842987 0.13945087 0.99593016
2 0.4179579 1   0.01849870 0.09579857 0.03952713
3 0.5595295 0   0.01344486 0.11292918 0.04618113
4 0.1750813 0   0.00871653 0.07544757 0.04293022
5 0.4916760 0   0.04545455 0.14867424 0.99628942

<html><b>Interpretation of the cluster characteristics.
<p> Cluster: 3<br>
Cluster 1 contains 989 points. Most of the people of the age belong to 76 years category.  <br>Cluster 2 contains 173 points. Most of the people of that category belongs to around 54 years. <br> Cluster 3 contains 839 points. Most of the people belong to around 30 years of age.</p>

<p> Cluster: 5<br>
Cluster 1 contains 173 points. Cluster 2 contains 839 points. Cluster 3 contains 466 points. Cluster 4 contains 391 points. Cluster 5 contains 132 points.</p>
</b></html>